.translationItem {
  @apply p-3 
    border-solid 
    border-b-current 
    border-b-2;

  svg {
    @apply stroke-current;
  }
}
.title {
  @apply collapse-title;
  pre {
    white-space-collapse: break-spaces;
    white-space: break-spaces;
  }
}

.container {
  @apply flex flex-col flex-wrap w-full overflow-x-auto;
}

.content {
  white-space: break-spaces;
}