.translationItem {
  > :global.collapse:not(:is(:global(.collapse-open))) {
    :local(.content) {
      display: none;
    }
    :local(.title) {
      overflow: hidden;
    }
    max-height: 140px;
    :global(.collapse-content) {
      overflow: hidden;
    }
  }
  @apply p-3 
    border-solid 
    border-b-current 
    border-b-[0.25px];

  svg {
    @apply stroke-current;
  }
}

.title {
  @apply collapse-title;
  pre {
    white-space-collapse: break-spaces;
    white-space: break-spaces;
  }
}

.container {
  @apply flex flex-col flex-wrap w-full overflow-x-auto min-h-full;
}

.content {
  white-space: break-spaces;
}