@media only screen and (max-width: 600px) {
  :root {
    font-size: 16px;
  }
}

.studyActionsContainer {
  width: max-content;
  z-index: 1; 
  min-height: 100%;
  left: 0; 
  top: 0; 
  background: var(--background-color); 
  position: sticky;
}

/* :root, :root[data-theme="light"] {
  --text-font-family: 'Roboto', sans-serif;
  --text-color: #555;
  --background-color: #f5f5f5;
  --table-border-color: #ccc;
  --odd-row-color: #f5f5f5;
  --even-row-color: var(--background-color);

  --code-font-family: 'Courier New', monospace;
  --code-background-color: var(--background-color);
  --code-font-color: var(--text-color);
  font-size: 18px;
}


:root[data-theme="dark"] {
  --text-font-family: 'Montserrat', sans-serif;
  --text-color: #fff;
  --background-color: #333;
  --table-border-color: #ccc;
  --odd-row-color: #f5f5f5;
  --even-row-color: var(--background-color);

  --code-font-family: 'Courier New', monospace;
  --code-background-color: var(--background-color);
  --code-font-color: var(--text-color);
} */

body {
  font-family: var(--text-font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: var(--text-font-family);
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  border-color: var(--table-border-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--odd-row-color);
}

tbody tr:nth-child(even) {
  background-color: var(--even-row-color);
}

code {
  font-family: var(--code-font-family);
  background-color: var(--code-background-color);
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--code-font-color);
}

.readActionsContainer {
  max-height: 60px; 
  width: max-content;
  position: sticky;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  * {
    border: none;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-height: 100vh;
  h1:first-child {
    margin-top: 0;
  }
}

.horizontal {
  flex-direction: row !important;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
}

.fixed {
  position: fixed;
  top: 0;
}

.content {
  flex: 1;
  margin: 0 auto;
  padding: 0 16px;
  height: 100%;
  min-width: min-content;
}

.textSize-xs {
  font-size: 12px;
}

.textSize-sm {
  font-size: 14px;
}

.textSize-md {
  font-size: 16px;
}

.textSize-lg {
  font-size: 18px;
}

.textSize-xl {
  font-size: 20px;
}

.textSize-xxl {
  font-size: 22px;
}

.layoutSize-xs {
  max-width: 40%;
}

.layoutSize-sm {
  max-width: 50%;
}

.layoutSize-md {
  max-width: 60%;
}

.layoutSize-lg {
  max-width: 70%;
}

.layoutSize-xlg {
  max-width: 80%;
}

.layoutSize-xxlg {
  max-width: 90%;
}

