.actionsBar {
  width: 100%;
  overflow: auto;
  height: min-content;
  padding: 0.3rem !important;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
